
*{
  margin: 0%;
  padding: 0%;
}
body{
  background-size: cover;
  opacity: 100;

}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(73, 0, 86);
}
.image img{
  width: 600px;
  height: 350px;
  object-fit: cover;
  display: flex;
  justify-content: center;

}